 .search{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Alata", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    width: 1000px;
    color: white;
     text-align: center;
    font-size: 15px;

}  
/* button{
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 10%;
    font-size: 15px;
    
}
form{
    display:block;
} */